.header {
  background-color: #001b44;
  padding-left: 18px;
  padding-right: 18px;
}

.header-container {
  height: 84px;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header button {
  font-size: 14px;
  height: 42px;
  background-color: #19a974;
  border: 1px solid transparent;
  color: white;
  padding-left: 18px;
  padding-right: 18px;
}

.header button:hover {
  background-color: #9eebcf;
  border: 1px solid #19a974;
  color: #19a974;
}
