.post-container {
  width: 100%;
  background-color: #fff;
  margin-top: 24px;
  border-radius: 4px;
}

.posts {
  height: 42px;
  padding: 18px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

.posts:hover {
  clear: both;
  background-color: #f4f4f4;
}

.button-edit {
  background-color: #353535;
  color: #fff;
  border: none;
  height: 32px;
  margin-right: 18px;
  padding-left: 8px;
  padding-right: 8px;
}

.button-edit:hover {
  background-color: #565656;
  color: white;
  border: none;
  height: 32px;
  margin-right: 18px;
  padding-left: 8px;
  padding-right: 8px;
}

.button-delete {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  height: 32px;
  padding-left: 8px;
  padding-right: 8px;
}

.button-delete:hover {
  background-color: #ffdfdf;
  border: 1px solid #e7040f;
  color: #e7040f;
  height: 32px;
  padding-left: 8px;
  padding-right: 8px;
}
